<a href="https://colab.research.google.com/github/UdayGhorapade/projects/blob/main/calculation_of_BMI_index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#calculate the BMI index

In [36]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats

In [37]:
data=pd.read_csv('/content/bmi.csv')

In [38]:
data.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    int64
 2   Weight  500 non-null    int64
 3   Index   500 non-null    int64
dtypes: int64(3), object(1)
memory usage: 15.8+ KB

In [40]:
data.isnull().sum()

Gender    0
Height    0
Weight    0
Index     0
dtype: int64

In [41]:
x=data.drop(['Index'],axis=1)
y=data['Index'].values.reshape(-1,1)

In [42]:
from sklearn.preprocessing import LabelEncoder
LE_G = LabelEncoder()
x['Gender_new'] = LE_G.fit_transform(x['Gender'])
x['Height_new']=(x['Height'])
x['Weight_new']=(x['Weight'])
x

     Gender  Height  Weight  Gender_new  Height_new  Weight_new
0      Male     174      96           1         174          96
1      Male     189      87           1         189          87
2    Female     185     110           0         185         110
3    Female     195     104           0         195         104
4      Male     149      61           1         149          61
..      ...     ...     ...         ...         ...         ...
495  Female     150     153           0         150         153
496  Female     184     121           0         184         121
497  Female     141     136           0         141         136
498    Male     150      95           1         150          95
499    Male     173     131           1         173         131

[500 rows x 6 columns]

In [57]:
Xnew = x.drop(['Gender','Height','Weight'], axis=1)
y=data['Index'].values.reshape(-1,1)

In [58]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(Xnew,y,test_size=.2,random_state=42)

In [59]:
from sklearn.linear_model import LinearRegression
multiple_reg=LinearRegression()
multiple_reg.fit(x_train,y_train)

LinearRegression()

In [60]:
y_pred=multiple_reg.predict(x_test)

In [61]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.7962929261018074

In [77]:
print('enter the values for prediction:')
gender=float(input('Gender:'))
height=float(input('Height:'))
weight=float(input('Weight:'))


output=multiple_reg.predict([[gender,height,weight]])
print("the BMI is {} of gender{}, with height of{} cm,and weight of{} kg6."\
      .format(output[0][0] if output else "not predictable",gender,height,weight))

enter the values for prediction:
Gender:0
Height:160
Weight:60
the BMI is 2.487208640388571 of gender0.0, with height of160.0 cm,and weight of60.0 kg.

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"