<a href="https://colab.research.google.com/github/UdayGhorapade/projects/blob/main/project_(50_startup_data).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#project(50 startup data)

In [1]:
#importing the liabraries 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
#reading the dataset
data=pd.read_csv('/content/50_startups_data.csv')

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   Profit           50 non-null     float64
dtypes: float64(4)
memory usage: 1.7 KB

In [13]:
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
Profit             0
dtype: int64

In [3]:
#checking the data
data.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [7]:
#initiating the variables
x=data.drop(['Profit'],axis=1)
y=data['Profit'].values.reshape(-1,1)

In [9]:
#splitting the data
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=42)

In [10]:
#training the data
from sklearn.linear_model import LinearRegression
mlr=LinearRegression()
mlr.fit(xtrain,ytrain)

LinearRegression()

In [11]:
#predicting the test set result
ypred=mlr.predict(xtest)

In [12]:
#checking the accuracy
from sklearn.metrics import r2_score
r2_score(ytest,ypred)

0.9000653083037321