<a href="https://colab.research.google.com/github/UdayGhorapade/projects/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#By checking the data the model is to be built in simple linear regression

In [8]:
#importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
#reading the dataset
data=pd.read_csv('/content/project.CSV')
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [10]:
#initiating the variables
x=data['YearsExperience'].values.reshape(-1,1)
y=data['Salary'].values.reshape(-1,1)

In [11]:
#splitting the dataset into training and testing dataset
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2 ,random_state=42)

In [13]:
#fitting linear regression to our training set to train our model
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [14]:
#predicting the test set result
y_pred=reg.predict(x_test)

In [15]:
#finding out the r2 value
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.9024461774180497

In [16]:
reg.intercept_

array([25321.58301178])

In [17]:
reg.coef_

array([[9423.81532303]])